<tr>
    <td class="footer" colspan="2">
        <p class="copyright">&copy; 2024 All rights reserved - Montreal FurEver Homes</p>
        <a href="/disclaimer" class="disclaimer_source">Privacy/Disclaimer Statement</a>
        <a href="/sources" class="disclaimer_source">Sources</a>
    </td>
</tr>

</table>
</body>
</html>